.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

/* .App button works on every button inside element with App class. 
.Button is more specific */
.Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Button:hover  {
  background-color: lightgreen;
  color: black;
  }

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
}
